.submit-btn {
  display: flex;
  justify-content: center;
}
.table-margin {
  margin-top: 50px;
}
.table-padding {
  margin-right: 20px;
}
.fwb {
  font-weight: bold;
  margin: 0 !important;
}
.cursor {
  cursor: pointer;
}
.error {
  color: red;
}
